<!--
File: app.component.html
Author: Tóth Júlia
Copyright: 2022, Tóth Júlia
Group: Szoft 2/n
Date: 2022-11-23
Github: https://github.com/haribomaci
Licenc: GNU GPL
-->
<div class="container">
  <h1>{{title}}</h1>
  <!--Területszámítás
  a * b-->

    <div class="areaForm">
    <div class="mb-3">
      <label for="a" class="form-label">A oldal</label>
      <input type="text" id="base"[(ngModel)]="a" class="form-control alert alert-warning" >
    </div>
    <div class="mb-3">
      <label for="b" class="form-label">B oldal</label>
      <input type="text" id="height" [(ngModel)]="b" class="form-control alert alert-success" >
    </div>
    <button (click)="calcHandle()" class="btn btn-outline-danger">Számít</button>
    <button (click)="hideArea()" class="btn btn-outline-danger ms-3">Elrejt</button>
    <div class="mb-3" *ngIf="areaShow">
      <label for="area" class="form-label">Terület</label>
      <input type="text" id="area" [(ngModel)]="area" class="form-control alert alert-primary" >
    </div>
  </div>
  <div class="bg-info mt-3 p-1">
    Tóth Júlia,
    Szoft 2/n,
    2022-11-23
  </div>
</div>